<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133593667373-doh9mahni8b7mmg3j57p9dk2dlm6gip8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133593667373-doh9mahni8b7mmg3j57p9dk2dlm6gip8</string>
	<key>API_KEY</key>
	<string>AIzaSyCYkQjdlGsWvVx4Kk8S-_CkzMLwv1Y4cMw</string>
	<key>GCM_SENDER_ID</key>
	<string>133593667373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shiftProject</string>
	<key>PROJECT_ID</key>
	<string>shift-project-usjr-saspitsia</string>
	<key>STORAGE_BUCKET</key>
	<string>shift-project-usjr-saspitsia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133593667373:ios:1ad6f24def410b309ca5a4</string>
</dict>
</plist>